.detail-contain{
  .time-contain{
    background-color: #FFF;
    padding: 50px;
    p{
      font-size: 24px;
    }
  }
  :global .ant-calendar-picker{
    width: 100%;
    }
}
:global .ant-input{
  height: 50px;
}
